<style>
  .headerHome{
    z-index: 3;
  }
</style>

<div class="headerHome">
  <h1>Bug <span><img src="/images/svgs/bugIcon.svg" width="100px" alt="Magnifier magnifing Bug"></span> Tracker</h1>
</div>