<style>
    .view-data{
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="view-data">
    <div class="viewStuff">

<h1>VIEW USER</h1>
<br>
<br>
<p>Name: <%= data.name %> </p>
<br>
<p>Email: <%= data.email %></p>
<br>
<p>Role: <%= data.role %></p>
<br>
<br>
</div>

<div class="comments">
    <h3 class="error">Under Construction:</h3>
    <h1>COMMENTS:</h1>
    <textarea style="background-color: bisque;" name="" id="" cols="30" rows="10"></textarea>
</div>
</div>

<!-- <h1>EDIT USER</h1> -->
<!-- <br> -->
<!-- <br> -->
<!-- <a href="/dashboard/edit-user/<%= data.id %>" title="inner" class="inner-link">Edit?</a> -->


