body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #d7f5d6;
}

/* .pseudo-header{
  display: block;
  width: 100%;
  height: 100px;
  background-color: #182C25;
} */

.main-title-section{
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; */
  /* justify-content: center; */
  /* margin-top: 40px; */
}

.main-button{
  /* margin-top: 40px; */
}

.main-button a{
  background-color: #306844;
  color: #F3FAF0;
  padding: 8px;
  /* margin: 16px; */
  border-radius: 12px;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.main-button a:hover {
  color: white;
  background-color: #499e67;
}

.main-title {
  display: flex;
  justify-content: center;
  /* margin-top: 40px; */
  margin-bottom: -44px;
  /* flex-grow: 1; */
}

nav a {
  color: #B4D16F;
  text-decoration: none;
  padding: 20px 20px;
}
nav a:hover {
  color: #587023;
  color: #f5faed;
}

nav img{
  margin-left: 24px;
}

.brand{
  /* padding: 20px; */
  color: white;
  padding-left: 40px;
}

#container {
  /* display: block !important; */
  /* flex-wrap: wrap; */
  width: 980px;
}

.error {
  color: red;
}

header {
  /* display: block !important; */
  width: 100%;
  height: 100px;
  background-color: #182C25;
  display: flex;
  justify-content: center;
}

nav {
  height: 100%;
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* margin: 40px; */
  /* padding: 30px; */
  font-size: 20px;
}

main {
  /* margin: 0px 40px; */
  width: 100%;
  display: block;
}

/* .description {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
  border-radius: 25px 25px 0px 0px;
  padding: 2px 0px;
}

.data {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: aliceblue;
  border-radius: 0px 0px 25px 25px;
  padding: 40px 0px;
}

.list-group {
  position: relative;
  margin: 40px 0px;
}

.list-group .project-link-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.list-group .project-link-overlay:hover {
  background-color: cornflowerblue;
}

.onelink::after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: relative;
} */

.block {
  /* width: 200px; */
  min-height: 140px;
  margin: 40px 0px;
  /* background-color: #dedede; */
  background-color: #3c6c5b;
  position: relative;
  /* padding: 20px; */
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.block .overlay {
  /* height: 100%; */
  border-radius: 25px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.block .overlay:hover {
  background-color: white;
  background-color: #213d33;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.block .inner {
  position: relative;
  pointer-events: none;
  z-index: 1;
  height: 100%;
}

.inner{
  height: 100%;
}

/* .block .inner .col {
  position: relative;
  pointer-events: none;
  z-index: 2;
} */

.block .inner a {
  /* height: 100%; */
  pointer-events: all;
  position: relative;
  background-color: #1b6569;
  background-color: #268d93;
  color: whitesmoke;
  padding: 12px;
  font-size: 20px;
  border-radius: 12px;
  text-decoration: none;
}

.inner a:hover{
  background-color: #258c92;
  background-color: #33bec6;
}

.inner .value{
  /* line-height: 0%; */
}
.inner .inner-link{
  /* line-height: 150%; */
  /* margin-top: 200px; */
}

.inner p{
  text-align: center;
 /* color: #E3A23C; */
 color: white;
}


.value{
  /* align-items: center; */
  /* align-self: center; */
  /* height: 80%; */
  /* flex-grow: 1; */
}

.descriptiveTitle{
  background-color: #559d84;
  
}

.col {
  height: 100%;
}
.col p {
  width: 100%;
}

.firstTitle{
  border-radius: 12px 0px 0px 0px;
}

.lastTitle{
  border-radius: 0px 12px 0px 0px;
}

.inner .col{
  padding: 0px;
  margin: 0px;
  /* height: 100%; */
}



.description {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
  border-radius: 25px 25px 0px 0px;
  padding: 2px 0px;
}

.data {
  /* height: 80%; THIS IS NOT A GOOD WAY OF DOING IT... Super Specific */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* align-content: center; */
  background-color: aliceblue;
  border-radius: 0px 0px 25px 25px;
  /* padding: 40px 0px; */
}


/* HEADER LINK STUFF */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #455B55;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 12px 12px 12px;
  margin-left: 40px;
  margin-top: 4px;
}

.dropdown-content a {
  color: #B4D16F;
  border-radius: 0px 12px 12px 12px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #5b7324;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.forms-sidebyside{
  display: flex;
}

.form-edit{
  width: 100%;
}
.form-delete{
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  /* width: 100%; */
  justify-content: flex-end;
  /* align-content: flex-end; */
}

.form-delete *{
  /* width: 100%; */
}

body{
  background: #d7f5d6;
}

input[type=submit]{
  margin-top: 40px;
}

input[type=submit]{
  /* background-color: #306844; */
  /* background-color: #BF7E1C; */
  background-color: #a76d18;
  color: #F3FAF0;
  padding: 8px;
  /* margin: 16px; */
  border-radius: 12px;
  font-size: 20px;
  text-decoration: none;
  border: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
input[type=submit]:hover {
  color: white;
  background-color: #d98e20;
}

input[type=text], input[type=email]{
  border: 0px;
  background-color: #faefde;
  background-color: oldlace;
  /* border-color: #1b6569; */
  border-radius: 3px;
}

select{
  border: 0px;
  background-color: #faefde;
  background-color: oldlace;
  border-radius: 3px;
}