<div class="forms-sidebyside">
<div class="form-edit">
<h1>EDIT</h1>
<form action="/dashboard/profile" method="POST" enctype="application/x-www-form-urlencoded">
    <label for="name">Username:</label>
    <input type="text" name="name" value="<%= data.name %>" id="name">
    <br>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= data.email %>" id="email">
    <br>
    <br>
    <p><%= data.role %> </p>
    <br>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Edit User">
</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="">
<h1>DELETE</h1>
<br>
<h2>Caution: Deleting yourself will log you out...</h2>
<form action="/dashboard/profile" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete User">
</form>
</div>
</div>